@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    font-size: 20px;
    --color-text: #333;
    --color-dark: #111;
    --color-light: #fff;
    --color-accent: #fc0
}

@media (prefers-color-scheme: dark) {
    html {
        --color-text: #eee;
        --color-dark: #000;
        --color-light: #171717;
        --color-accent: #fc0
    }
}

body {
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    background: var(--color-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

h1,
h2,
h3,
b,
strong {
    font-weight: 700
}

h1 {
    font-size: 3.052rem;
    line-height: 1;
    margin-bottom: 1.5rem
}

h2 {
    font-size: 1.953rem;
    line-height: 1.1;
    margin-bottom: 1.5rem
}

h3 {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 1.5rem
}

a {
    color: var(--color-text);
    text-decoration: none
}

a:not(.nodecoration) {
    background-image: linear-gradient(180deg, transparent 90%, var(--color-accent) 0)
}

.color-invert a {
    color: var(--color-light)
}

@media (prefers-color-scheme: dark) {
    .color-invert a {
        color: var(--color-text)
    }
}

svg {
    fill: currentColor
}

a:hover {
    color: var(--color-text);
    text-decoration: none
}

@media (prefers-color-scheme: dark) {
    a:hover {
        color: var(--color-dark)
    }
}

a:hover:not(.nodecoration) {
    background-color: var(--color-accent)
}

a:hover svg {
    fill: var(--color-accent)
}

img {
    max-width: 100%;
    height: auto
}

.nav {
    line-height: 1
}

.nav a {
    color: currentColor;
    background: none;
    font-weight: 700;
}

.nav a:hover {
    color: var(--color-accent);
    background: none
}

.logo {
    width: 100%;
    height: auto
}

.nav .logo {
    width: auto;
    height: 1rem
}

.nav .logo:hover {
    fill: var(--color-accent)
}

.footer .logo {
    fill: var(--color-light)
}

@media (prefers-color-scheme: dark) {
    .footer .logo {
        fill: var(--color-text)
    }
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: .25rem;
    position: relative;
    top: -2px;
    fill: currentColor
}

.img-axel {
    background: var(--color-accent);
    border-radius: 50%
}

.img-axel svg {
    fill: var(--color-dark)
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: auto
}

.btn-primary {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-dark);
    font-weight: 700
}

.btn-primary:hover {
    background: var(--color-light);
    border-color: var(--color-light);
    color: var(--color-dark)
}

article {
    line-height: 1.65
}

article p {
    margin-bottom: 1.5rem
}

article h2:not(:first-child),
article h3:not(:first-child) {
    margin-top: 3rem
}

article ul {
    list-style-type: square
}

article li:not(:last-child) {
    margin-bottom: .5rem
}

.color-invert {
    background: var(--color-dark);
    color: var(--color-light)
}

.color-invert a:hover {
    color: var(--color-accent)
}

@media (prefers-color-scheme: dark) {
    .color-invert {
        color: var(--color-text)
    }
}

blockquote {
    padding-left: 2rem;
    border-left: 5px solid
}

article a{
	font-weight: normal;
}

article:not(:last-child){
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #ddd;
}