<div class="color-invert py-3 mb-5">
    <div class="container">
      <nav class="nav d-flex align-items-center">
            <a href="/" class="nodecoration">
              {{ partial "svg/a.svg" . }}
              <span class="ml-2">Axel Valdez</span>
            </a>
        <ul class="list-unstyled m-0 ml-auto d-flex">
          <li><a href="/about">About</a></li>
          <li class="ml-3"><a href="https://axel.mx/">Newsletter</a></li>
          <li class="ml-3 d-none d-md-block">•</li>
        </ul>
        <ul class="nav-social list-unstyled d-none d-md-flex justify-content-end m-0">
          
          
          
          <li class="ml-2 ml-sm-3">
            <a href="https://github.com/axelvaldez" class="nodecoration">
              {{ partial "svg/github.svg" . }}
              <span class="d-none">Github</span>
            </a>
          </li>
          
          
        </ul>
      </nav>
    </div>
  </div>